.top-bottom-I {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: #4682bf;
    animation-name: top-bottom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    }
@keyframes top-bottom {
    0% {background-color: #4682bf; transform: rotateY(45deg);}
    25% {background-color: #006994; transform: rotateY(90deg);}
    50% {background-color: #40E0D0; transform: rotateY(135deg);}
    75% {background-color: #006994; transform: rotateY(180eg);}
    100% {background-color: #4682bf; transform: rotateY(225deg);}
    }
.middle-I {
    height: 200px;
    width: 50px;
    margin-left: 75px;
    background-color: red;
    animation-name: middle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    }
@keyframes middle {
    0% {background-color: #4682bf; transform: rotateX(45deg);}
    25% {background-color: #006994; transform: rotateX(90deg);}
    50% {background-color: #40E0D0; transform: rotateX(135deg);}
    75% {background-color: #006994; transform: rotateX(180eg);}
    100% {background-color: #4682bf; transform: rotateX(225deg);}
    }
.animation {
    float: right;
    height: 50px;
    width: 200px;
    position: relative;
    background-color: green;
    transform: translate3d(52px, 72px, 123px);
    }


